name: Build App on push (IOS)
concurrency:
  group: apk-build-${{ github.ref_name }}
  cancel-in-progress: false
on:
  push:
    branches:
      - master
      - feature/**
      - bugfix/**
jobs:
  build_ios_job:
    name: Build iOS
    runs-on: macos-latest
    needs: []
    if: github.ref_name == 'master' || startsWith(github.ref_name, 'feature/MobileHC-') || startsWith(github.ref_name, 'bugfix/MobileHC-')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      # - name: Validate branch naming
      #   if: github.ref_name != 'master'
      #   shell: bash
      #   run: |
      #     if [[ "${GITHUB_REF_NAME}" =~ ^feature/MobileHC-[0-9]+_.+ || "${GITHUB_REF_NAME}" =~ ^bugfix/MobileHC-[0-9]+_.+ ]]; then
      #       exit 0
      #     fi
      #     echo "Branch name must match feature/MobileHC-{number}_{text} or bugfix/MobileHC-{number}_{text}" >&2
      #     exit 1
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"
          architecture: x64
      - name: Install dependencies
        run: flutter pub get
      - name: Build iOS (No Codesign)
        run: flutter build ios --release --no-codesign

      - name: Upload App artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-app
          path: build/ios/iphoneos/*.app
          retention-days: 10
