on: push
name: Main Branch Build APK
jobs:
  build_apk_job:
    name: Build APK
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"
      - name: Install dependencies
        run: flutter pub get
      - run: flutter test
      - name: Build APK
        run: flutter build apk --debug --split-per-abi
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug.apk
          path: "build/app/outputs/flutter-apk/*.apk"
